.git
.gitattributes
.gitignore
.env
.env.example
node_modules
vendor
storage/app
storage/framework/cache/data
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
docs
*.md
.phpunit*
phpunit.xml
pint.json